<ul class="table-view">
    {{#if rooms.length}}
    {{#each rooms}}
    <li class="table-view-cell">
        <div class="truncation">{{name}}</div>
        <!-- <a class="btn btn-positive btn-outlined" href="/book/{{key}}" data-transition="fade">Book</a> -->
    </li>
    {{/each}}
    {{else}}
    <li class="table-view-cell">No meeting room available</li>
    {{/if}}
</ul>
