<ul class="table-view">
    {{#each rooms }}
    <li class="table-view-cell">
        <div class="truncation">{{ name }}</div>
        <!-- <a class="btn btn-positive btn-outlined" href="/book/{{ key }}" data-transition="fade">Book</a> -->
    </li>
    {{/each}}
</ul>
