<ul class="table-view">
    <li class="table-view-cell w-input-group">
        <div class="input-row wc-input-row">
            <label>Who</label>
            <div class="wc-input-group">
                <input type="text" placeholder="Username">
                <span class="wc-input-addon">@wandoujia.com</span>
            </div>
        </div>
    </li>
    <li class="table-view-cell">
        <div class="input-row wc-input-row">
            <label>What</label>
            <input type="text" placeholder="Event description">
        </div>
    </li>
    <li class="table-view-cell">
        <a class="navigate-right">When <span class="badge wc-badge">12:00</span></a>
    </li>
    <li class="table-view-cell table-view-divider"></li>
    <li class="table-view-cell wc-table-view-cell">
        <a class="btn-link wc-btn-link">Book</a>
    </li>
</ul>
