<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}} - Watch Cat</title>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

        <link rel="stylesheet" href="/components/ratchet/dist/css/ratchet.min.css" />
        <link rel="stylesheet" href="/components/ratchet/dist/css/ratchet-theme-ios.min.css" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <header class="bar bar-nav">
            <h1 class="title">{{title}}</h1>
        </header>
        <div class="content">
            {{{body}}}
            <div class="content-padded">
                <p class="copyright">♥ Designed by NetPuter</p>
            </div>
        </div>

        <script src="/components/zepto/zepto.min.js"></script>
        <script src="/components/ratchet/js/modals.js"></script>
        <script src="/javascripts/main.js"></script>
    </body>
</html>
